body{
  min-height: 60vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

select
{
    width: 12rem;
    border-radius: 1rem;
    color: #69a58c;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-color: #3e6053;
}

td{
    height: 4rem;
    width: 10rem;
    font-size: 1.2rem;
    color: #406768;
}

th{
  font-weight: 500;
    color: #5f6b6a;
    font-size: 1.2rem;
    border-bottom: 1px gray solid;
    padding: 1rem;
    width: 10rem;
}

